[submodule "lib/fmt"]
	path = lib/fmt
    url = https://github.com/fmtlib/fmt.git
    branch = master
[submodule "lib/spdlog"]
	path = lib/spdlog
    url = https://github.com/gabime/spdlog.git
    branch = v1.x
[submodule "lib/googletest"]
	path = lib/googletest
    url = https://github.com/google/googletest.git
    branch = master
[submodule "lib/args"]
	path = lib/args
	url = https://github.com/Taywee/args.git
[submodule "lib/box2d"]
	path = lib/box2d
	url = https://github.com/erincatto/box2d.git
    branch = master
[submodule "lib/json"]
	path = lib/json
	url = https://github.com/nlohmann/json.git
[submodule "lib/PlayRho"]
	path = lib/PlayRho
	url = https://github.com/louis-langholtz/PlayRho.git
[submodule "lib/earcut.hpp"]
	path = lib/earcut.hpp
	url = https://github.com/mapbox/earcut.hpp.git
